





.MuiDrawer-root {
  z-index: 1200 !important;  // set drawer under topbar
}


.textGradient {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
} 

.MuiPaper-root.MuiAlert-standardInfo {
  background-color: #f2f2f2;
}

/*
.makeStyles-btnCirclePlayVideo-8 {  
  transition: all .4s cubic-bezier(.25,.8,.25,1) !important;
}

.makeStyles-playVideoImage-10
*/